<!DOCTYPE html>
<html lang="en">
<head>
    <title>服装销售系统 V1.0</title><meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../../lib/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../../lib/css/bootstrap-responsive.min.css" />
    <link rel="stylesheet" href="../../lib/css/matrix-login.css" />
    <link href="../../lib/font-awesome/css/font-awesome.css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,800' rel='stylesheet' type='text/css'>
    <style type="text/css">
        input{
            font-family: "Microsoft Yahei";
        }
        .control-label{
            color: #B2DFEE;
            padding-left: 4px;
        }
    </style>
</head>
<body onkeydown="keydown()">
<div id="loginbox">
    <div class="control-group normal_text">
        <h2 style="color:#B2DFEE;font-size:28px;">服装销售系统</h2>
        <span style="font-size:14px;color:gray;">版权所有 &copy; 清晨 2015-2018</span>
    </div>
    <form id="loginform" class="form-vertical" action="" method="post">
        <div class="control-group">
            <label class="control-label">登陆账号</label>
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_lg"><i class="icon-user" style="font-size:16px;"></i></span><input type="text" id="name" name="name" value="admin" />
                </div>
            </div>
        </div>
        <div class="control-group2">
            <label class="control-label">登陆密码</label>
            <div class="controls">
                <div class="main_input_box">
                    <span class="add-on bg_ly"><i class="icon-lock" style="font-size:16px;"></i></span><input id="password" name="password" type="password" />
                </div>
            </div>
        </div>
        <div class="form-actions">
            <span class="pull-center"><input type="submit" id="checkBtn" class="btn btn-success" style="width:100%;" value=" 登&nbsp;&nbsp;&nbsp;&nbsp;录"/></span>
        </div>
        <div class="control-group normal_text">
            <div style="font-size:14px;color:gray;"><a href="http://www.qingchen.red">个人博客:www.qingchen.red</a></div>
        </div>
    </form>
</div>
<script src="lib/js/jquery.min.js"></script>
<script src="lib/js/matrix.login.js"></script>
<script src="lib/js/jquery.validate.js"></script>
</body>

</html>
